In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
titanic_train = pd.read_csv('titanic_train.csv')
titanic_test = pd.read_csv('titanic_test.csv')

In [48]:
titanic_train.shape

(183, 12)

In [49]:
titanic_train['Survived'].value_counts()

1    123
0     60
Name: Survived, dtype: int64

In [50]:
titanic_trian=titanic_train.dropna(inplace= True)

In [51]:
 titanic_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [52]:

sum(titanic_train['Age'].isnull())

0

In [55]:
x_train=titanic_train[['Fare']]
y_train=titanic_train[['Survived']]

In [56]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
clf = LogisticRegression(random_state=0).fit(x_train, y_train)
(X_train, X_test, Y_train, Y_test) = train_test_split(x_train, y_train, test_size= 0.3, random_state= 42)

C:\Users\kartik\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [57]:
from sklearn.tree import DecisionTreeClassifier

In [58]:
dtc = DecisionTreeClassifier()

In [59]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier()

In [60]:
titanic_test = titanic_test.dropna()
x_test=titanic_test[['Fare']]

In [61]:
y_pred=dtc.predict(x_test)
y_pred
decision_tree_score = dtc.score(X_test, Y_test)
print(decision_tree_score)

0.8545454545454545

0.8545454545454545